# Required for automated testing
pytest==9.0.3

# Required for DevSecOps SCA (Software Composition Analysis)
pip-audit==2.7.3

# Required for DevSecOps SAST (Static Application Security Testing)
bandit==1.7.5
